.header {
  background-color: #282c34;
  color: whitesmoke;
  font-size: calc(10px + 2vmin);
}

.link {
  padding: 1rem;
  color: #4483c1;
}

.link:focus {
  outline: thin dashed;
}

.logo {
  height: 40vmin;
}

.wordmark {
  height: 7vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: spin infinite 1.5s linear alternate;
  }
}

:global code {
  background: #FFF3;
  @apply rounded-md p-2;
}

@keyframes spin {
  from {
    scale: 1;
  }
  to {
    scale: 1.05;
  }
}
