.header {
  background-color: #282c34;
  color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.link {
  padding: 1rem;
  color: #4483c1;
}

.link:focus {
  outline: thin dashed;
}

.logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 1.0rem;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: spin infinite 1.5s linear alternate;
  }
}

.wordmark {
  height: 5vmin;
  margin: 1rem 0;
}

:global code {
  background: #FFF3;
  padding: 4px 8px;
  border-radius: 4px;
}

@keyframes spin {
  from {
    scale: 1;
  }
  to {
    scale: 1.05;
  }
}
