
.App {
  text-align: center;
}

.AppHeader {
  background-color: #F9F6F6;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.AppLink {
  color: #5485c8;
}

.AppLogo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 1.0rem;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-spin infinite 1.6s ease-in-out alternate;
  }
}

@keyframes App-logo-spin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
